{% extends 'layout/main.html' %}
{% block content %}
<h2>Order Optimization</h2>
<form method="post" style="display: inline">
     {% csrf_token %}
     <div class="constraint">
          <div class="form row justify-content-between text-left">
               <div class="form-group col-6 flex-column d-flex">
                    <label for="numVariables">How many type of flower are there ?</label>
                    <input class="form" type="number" id="numVariables" name="numVariables"
                         value="{{ numVariables|default:'' }}" oninput="updateFormLP()" min="2" required />
                    <small>The minimum number of flower types is 2</small>
               </div>
          </div>
     </div>

     <div class="form col-9 flex-column d-flex mt-5">
          <!-- <p><strong>Please give the name type of flowers</strong></p> -->
          <div id="name_variable" style="width: 70%;"></div>
     </div>

     <div class="form row justify-content-end mt-3">
          <div class="form-group col-12">
               <button type="submit" class="form btn-block dustyGreen text-white mt-2">
                    Next Step
               </button>
          </div>
     </div>
</form>

{% if result %}
<h2>Result:</h2>
<p>Z = {{ result }}</p>
<div class="card-body">
     <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
               <thead class="text-white">
                    <tr align="center">
                         <th width="5%">No</th>
                         <th>Name Variable</th>
                         <th>Variable</th>
                         <th>Value</th>
                    </tr>
               </thead>
               <tbody>
                    {% for value, name in solution_variable %}
                    <tr align="m-1">
                         <td class="text-center">{{ forloop.counter }}.</td>
                         <td>{{ name }}</td>
                         <td class="text-center">x{{ forloop.counter }}</td>
                         <td class="text-center">{{ value }}</td>
                    </tr>
                    {% endfor %}
               </tbody>
          </table>
     </div>
</div>
{% endif %}

<style>
     #equationFormILP input,
     #equation_objective_ILP input {
          width: 80px;
     }
</style>

<script>
     function updateFormLP() {
          console.log('updateFormLP function is called');
          var numVariables = document.getElementById('numVariables').value;
          console.log('numVariables:', numVariables);

          var name_variable = document.getElementById('name_variable');
          name_variable.innerHTML = '';
          name_variable.innerHTML += '<p><strong>Please give the name type of flowers</strong></p><br>'
          for (var j = 0; j < numVariables; j++) {
               name_variable.innerHTML += `x${j + 1} = <input type="text" name="name_variable[${j}]" placeholder="x${j + 1}" required><br>`;
          }
          name_variable.innerHTML += '<br>';
     }
</script>

{% endblock %}