{% extends 'layout/main.html' %} {% block title %}Change Password{% endblock %}
{% block content %}

<h1 class="text-center">Change Password</h1>
<br /><br />

<div class="form-group">
     <form method="POST" action="{% url 'change_password' %}">
          {% csrf_token %}
          <!-- {{ form.as_p }} -->
          <div class="row g-3 mb-3">
               <div class="col-md-12">
                    <label for="input" class="form-label">Old Password</label>
                    {{ form.old_password }}
                    {% for error in form.old_password.errors %}
                    <span class="text-danger">{{ error }}</span>
                    {% endfor %}
               </div>

               <div class="col-md-12">
                    <label for="input" class="form-label">New Password</label>
                    {{ form.new_password1 }}
                    {% for error in form.new_password1.errors %}
                    <span class="text-danger">{{ error }}</span>
                    {% endfor %}
               </div>

               <div class="col-md-12">
                    <label for="input" class="form-label">Confirm new
                         Password</label>
                    {{ form.new_password2 }}
                    {% for error in form.new_password2.errors %}
                    <span class="text-danger">{{ error }}</span>
                    {% endfor %}
               </div>
          </div>
          <h4>Rules</h4>
          <ul class="list-group mb-3">
               <li class="list-group-item">
                    1. Your password can’t be too similar to your other personal
                    information.
               </li>
               <li class="list-group-item">
                    2. Your password must contain at least 8 characters.
               </li>
               <li class="list-group-item">
                    3. Your password can’t be a commonly used password.
               </li>
               <li class="list-group-item">
                    4. Your password can’t be entirely numeric.
               </li>
          </ul>
          <button type="submit" class="btn dustyGreen text-white"
               onclick="return confirm ('Are you sure want to change password ?')">Change Password</button>
     </form>
     <br /><br />
</div>

{% endblock %}