{% extends 'layout/main.html' %}
{% load static %}
{% block title %} Home {% endblock %}


{% if user.is_authenticated %}
{% block content %}
<div class="text-center">
     <h4>Welcome to Our Application</h4>
     <h5>DECISION SUPPORT SYSTEM FOR SUPPLIER RECOMMENDATION AND OPTIMATION USING BWM-MARCOS AND LINEAR
          PROGRAMMING</h5>
</div>
{% endblock %}

{% else %}
{% block non_authenticated_content %}
<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
     <div class="carousel-indicators">
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
               aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
     </div>
     <div class="carousel-inner">
          <div class="carousel-item active">
               <img src="{% static 'images/banner.jpg' %}" width="100%" height="500px">
               <div class="container">
                    <div class="carousel-caption text-center">
                         <p class="opacity-75 text-center">"Life is full of beauty. Notice it. Notice the bumble bee,
                              the small child, and the smiling faces. Smell the rain, and feel the wind. Live your life
                              to the fullest potential, and fight for your dreams." - Ashley Smith.</p>
                    </div>
               </div>
          </div>
          <div class="carousel-item">
               <img src="{% static 'images/banner2.jpg' %}" width="100%" height="500px">
               <div class="container">
                    <div class="carousel-caption text-center">
                         <p>The future belongs to those who believe in the beauty of their dreams."- Eleanor Roosevelt.
                         </p>
                    </div>
               </div>
          </div>
          <div class="carousel-item">
               <img src="{% static 'images/banner3.jpg' %}" width="100%" height="500px">
               <div class="container">
                    <div class="carousel-caption text-center">
                         <p>"If you want live a happy life, tie it to a goal, not to people or things." - Albert
                              Einstein.</p>
                    </div>
               </div>
          </div>
     </div>
     <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
     </button>
     <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
     </button>
</div>

{% endblock %}
{% endif %}