{% extends 'layout/main.html' %}
{% block content %}
<div>
     <a class="btn dustyGreen text-white mt-2" href="{% url 'view_supplier' %}">
          <i class='bx bx-arrow-back'></i>
     </a>
     <h2 class="text-center mb-4">Edit Supplier Form</h2>
</div>
<form method="post">
     {% csrf_token %}
     <div class="form row justify-content-between text-left">
          <div class="form-group col-12 flex-column d-flex">
               <label for="kode_supplier">Name of Supplier:</label>
               <input class="form" type="text" name="nama" value="{{ supplier.nama }}" required>
          </div>
     </div>

     <div class="form row justify-content-between text-left">
          <div class="form-group col-12 flex-column d-flex">
               <label for="nama_supplier">Address:</label>
               <textarea class="form" name="alamat" required>{{ supplier.alamat }}</textarea>
          </div>
     </div>

     <div class="form row justify-content-between text-left">
          <div class="form-group col-12 flex-column d-flex">
               <label for="nama_supplier">Phone Number:</label>
               <input class="form" type="text" name="nomor_telepon" value="{{ supplier.nomor_telepon }}" required>
          </div>
     </div>

     <div class="form row justify-content-end mt-2">
          <div class="form-group col-12">
               <button type="submit" class="form btn-block dustyGreen text-white mt-2">
                    Edit Supplier
               </button>
          </div>
     </div>
</form>
{% endblock %}